

/*
Common classes
*/

.btn-primary {
  display: inline-block;

  background: linear-gradient(180deg, #fdc800 0%, #fdc800 100%);

  color: #002147;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;

  transition: all ease 0.3s;
}

.btn-primary:hover {
  background: linear-gradient(
    180deg,
    rgba(253, 186, 0, 1) 0%,
    rgb(253, 186, 0) 100%
  );
}

.btn-secondary {
  display: inline-block;
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #002147;

  transition: all ease 0.2s;
}

.btn-secondary:hover {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}

.btn-secondary:active {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3) inset;
}
