@import url(common.css);
@import url(countdown.css);
@import url(featured-courses.css);
@import url(feedback.css);
@import url(feature-icons.css);
@import url(subscription.css);
@import url(footer.css);

* {
  margin: 0;
  padding: 0;
}

.topbar {
  background-color: #fdc800;
}

.topbar-wrapper {
  width: 1170px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 15px 0;
}

.topbar-addresses {
  display: flex;
  flex-direction: row;
  color: #212529;
}

.topbar-address-item {
  margin-right: 35px;
}

.topbar-addresses .topbar-address-item > span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}

.topbar-social-links > a {
  color: #212529;
  text-decoration: none;

  margin-left: 15px;
  font-size: 18px;

  transition: all ease 0.2s;
}

.topbar-social-links > a.facebook-link:hover {
  color: #1d68ca;
}

.topbar-social-links > a.twitter-link:hover {
  color: rgb(29, 155, 240);
}

.topbar-social-links > a.pinterest-link:hover {
  color: #b7081b;
}

.topbar-social-links > a.instagram-link:hover {
  color: #cf3174;
}

.navbar-container {
  background-color: #f0f4f9;
}

.navbar {
  width: 1170px;
  margin: 0 auto;
  padding: 15px 0;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo > a {
  text-decoration: none;
}

.navbar-logo span {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #002147;
  text-transform: uppercase;
  margin-left: 15px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav > a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #002147;
  text-decoration: none;
  margin-left: 15px;
}

.nav-actions {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.nav-actions .nav-signup {
  font-family: "Inter", sans-serif;
  display: block;
  font-size: 15px;
  color: #002147;
  padding: 0 20px;
  line-height: 40px;
  font-weight: 400;
  background-color: #fdc800;
  border-radius: 4px;
  text-decoration: none;
}

.nav-actions .search-btn {
  width: 40px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  background-color: white;
  line-height: 38px;
  margin-left: 15px;
}

.nav-actions .search-btn > i {
  vertical-align: middle;
}

.hero-container {
  background-color: #f0f4f9;

  padding: 60px 0 170px;
}

.hero {
  width: 1170px;
  margin: 0 auto;
  display: flex;

  font-family: "Inter", sans-serif;
}

.hero-left {
  width: 60%;
  margin-top: 30px;
}

.hero-left h5 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-left h2 {
  font-size: 60px;
  font-family: "Raleway", sans-serif;

  margin-bottom: 20px;
}

.hero-right {
  width: 40%;
}

.hero-right > img {
  width: 100%;
}

.btn-get-quote {
  padding: 16px 40px;
}

.btn-read-more {
  padding: 16px 40px;
  margin-left: 15px;
}
